
@import url("application.css");
#box_centre .col_a {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0px;
    height: 430px;
    width: 405px;
    overflow: scroll;
    text-align: justify;
}

#box_centre .col_a h5 a {
    margin: 0.5em;
    font-size: 90%;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

#box_centre .col_a dl dt {
    margin: 0.5em;
    font-weight: 500;
    opacity: 0.7;
    color: black;
}




#box_centre .col_b {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 50%;
    height: 430px;
    width: 405px;
    text-align: justify;
}
#box_centre .col_b_pic {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 430px;
    width: 405px;
    z-index: 15;
    text-align: left;
}

#box_centre .col_b_pichofer {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 430px;
    width: 405px;
    z-index: 15;
    text-align: center;
    padding-top: 2.5px;
}

#box_centre .col_b_course {
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    height: 430px;
    width: 405px;
    background-image:url(courses.jpg);
    background-repeat:no-repeat;
    z-index: 15;
}

